{% load static %}
<!DOCTYPE html>
<html lang ="eng">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content="width = device-width, initial-scale=1.0">
    <title> Home - My Portfolio </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="intro-section">
        <div class = "intro-text">
            <p>Welcome to my website</p>
            <h1>Hi, I'm <span>Yigit Kaya</span><br> a Developer...</h1>
            <p>I am a senior at Virginia Tech studying Computer Engineering, </p>
            <p>with a focus on backend engineering and software development.</p>
        </div>
        <div class = "circle-container">
            <div class="circle">
                <span>C++</span>
            </div>
            <div class="circle">
                <span>Python</span>
            </div>
        </div>
        <div class="intro-image">
            <img src="{% static 'images/yigitkaya.png'%}" alt="Photo">

        </div>
    </div>

    <div class="nav-rectangle">
        <a href="{% url 'home' %}">Home </a>
        <a href="{% url 'projects' %}">Projects</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% static 'files/resume.pdf' %}" target="_blank"> Resume </a>
    </div>

</body>
</html>